@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap');
@import './components/header/header.scss';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Maven Pro',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

